body {
  margin: 0;
  padding: 0;  
}
.container {
  background: #232323;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #ffffffc9;
}
.calculator {
  background: linear-gradient(to bottom, #d12c48, #381253);
  width: 300px;
  height: 490px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  font-size: 60px;
  color: #ffffffe0;
  padding-right: 5px;
}
.expression-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8%;
  color: #d4d3d3c7;
  padding-right: 5px;
  font-size: 18px;
}
.row {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
.btn {
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 20px;
  border: 1px solid #ffffff13;
}
.btn:hover {
  background: #ffffffa9;
}
.layout {
  background: #ffffff21;
  opacity: 0.7;
}
hr {
  border: none;
  border-top: 1px solid #ffffff27;
  margin: 0;
}